<form method="post" action="{{ path('parking_delete', {'id': parking.id}) }}" onsubmit="return confirm('Voulez vous supprimez ce parking ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ parking.id) }}">
    <button class="btn">Delete</button>
</form>
