<form method="post" action="{{ path('app_fourriere_delete', {'id': fourriere.id}) }}" onsubmit="return confirm('Voulez vous supprimer ce fourrière?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fourriere.id) }}">
    <button class="btn">Supprimer</button>
</form>
